body {
	font-family: Garamond, Philosopher, "Times New Roman", Times, serif!important;
	text-align: justify;
	line-height: 1.15;
	column-gap: 25px;
	orphans: 5;
}

h1 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.05em;
	margin-top: 1em !important;
	margin-bottom: 0.5em !important;
	break-after: avoid;
}

body > h2:first-child,
body > p:first-child,
body > blockquote:first-child,
body > blockquote:first-child > p:first-child {
	margin-top: 0 !important;
}

h3,
h4,
h5,
h6 {
	font-size: 1em;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	break-after: avoid;
	font-weight: normal;
}

h3 {
	text-decoration: underline;
}

code {
	color: black !important;
	font-size: 100%;
	font-variant: small-caps;
	font-family: inherit;
	background: none !important;
}

ul,
ol {
	padding-left: 1em;
}

p {
	margin-top: 0.5em;
}

div.admonition {
	padding: 0.1em 0.2em;
}
.admonition-title:not(:empty) {
	margin-top: 0em !important;
}
.admonition-title:empty + p {
	margin-top: -0.5em;
}

div.danger,
div.warning {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

div.note,
div.info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

div.success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

mark {
	background-color: #f9e387;
}

blockquote {
	font-family: "ETBembo", "et-book", "Minion Pro", Garamond, Philosopher,
		"Times New Roman", Times, serif!important;
}

br {
	display: block!important;
    margin-top: 0.25em!important;
    content: ""!important;
}