html {
	background-color: #bbb;
	font-family:
		"Inter",
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol" !important;
	padding: 1em 0.5em;
}
body {
	margin: auto;
	padding: 1em;
	background: white;
	max-width: 52rem;
	border-radius: 15px;
	font-size: 1.03rem;
}
body * {
	max-width: 750px;
	margin: auto;
}
h1 {
	font-size: 2.25rem;
}
h1,
h1 + p {
	margin: 0.5em auto 0.75em auto;
	text-align: center;
	max-width: 500px;
}
#editor {
	width: 50rem;
	max-width: 90%;
	display: block;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	height: 60vh;
	font-family: monospace;
	font-size: 0.95em;
	border-radius: 5px;
	background-color: #f6f8fa;
	border: 1px solid #e5e7eb;
}
ul {
	margin-bottom: 1em;
	max-width: 750px;
}
#buttons {
	text-align: center;
}
button {
	margin: 20px auto 2em 20px;
	display: inline-block;
	font-size: 1.1rem;
	background-color: #0070f3;
	color: white;
	border: 0;
	border-radius: 4px;
	padding: 6px 12px;
	cursor: pointer;
}
#resetButton {
	background-color: white;
	color: #333;
	border: 1px solid #333;
}
footer {
	font-size: 0.9em;
	text-align: center;
	margin: auto;
	margin-top: 3em;
	color: #555;
	border-top: 1px solid #bbb;
	padding-top: 1em;
	max-width: 600px;
}
a {
	color: inherit;
}

/* 
COLORATION SYNTAXIQUE DANS L'ÉDITEUR
 */

/* Titres */
.markdownTitles {
	font-family: "Segoe UI", Roboto, sans-serif;
	line-height: 1.4;
	margin: 0.4em 0;
}

.markdownTitles.h1 {
	color: #b30000;
	font-size: 1.35em;
	font-weight: 700;
}

.markdownTitles.h2 {
	color: #0047ab;
	font-size: 1.25em;
	font-weight: 600;
	padding-bottom: 0.2em;
}

.markdownTitles.h3 {
	color: #222;
	font-size: 1.1em;
	font-weight: 600;
}

.markdownTitles.h4 {
	color: #520a7b;
	font-size: 1em;
	font-weight: 500;
}

/* Mise en forme */
.markdownBold {
	font-weight: 700;
}
.markdownItalic {
	font-style: italic;
}
.markdownUnderline {
	text-decoration: underline;
}

/* Listes */
.markdownLists {
	color: #003366;
	font-weight: 600;
}

/* Liens */
.markdownLinksURL {
	color: #0066cc;
	text-decoration: none;
}
.markdownLinksURL:hover {
	text-decoration: underline;
}

/* Admonitions */
.markdownHTMLadmonition {
	border: 1px solid rgb(0 91 176);
	display: block;
	padding: 0.5em;
	margin: 1em;
}

/* Balises HTML */
.markdownHTMLtag {
	color: #a201a7;
	opacity: 0.85;
	font-weight: 500;
}

.markdownHTMLtagContent {
	color: #036363;
}

/* Coloration des sélecteurs CSS dans les balises <style> */
.markdownHTMLcssSelector {
	color: #036363;
	font-style: italic;
}

/* Commentaires */
.markdownHTMLcomment {
	color: #777;
	font-style: italic;
	opacity: 0.8;
}

/* Séparateurs et YAML */
.markdownSeparator {
	color: #b30000;
	opacity: 0.9;
}

.markdownYAML {
	color: #006400;
	font-style: italic;
}
