* {
	overflow-wrap: break-word;
	box-sizing: border-box !important;
}
body {
	font-family: Garamond, Philosopher, "Times New Roman", Times, serif !important;
	text-align: justify;
	line-height: 1.15;
	column-gap: 25px;
	orphans: 5;
	font-size: 100px;
	width: 21cm;
	margin: auto;
	padding: 0.5cm;
}

h2,
h3,
h4,
h5,
h6 {
	break-after: avoid;
	break-inside: avoid;
}

h1 {
	font-size: 1.2em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
	break-inside: avoid;
}

section {
	break-inside: avoid;
}

h2 {
	font-size: 1.05em;
	margin-top: 1em !important;
	margin-bottom: 0.5em !important;
}

body .initialContent > h2:nth-of-type(1),
body .initialContent > h3:nth-of-type(1),
body .initialContent > p:nth-of-type(1),
body .initialContent > ol:nth-of-type(1),
body .initialContent > ul:nth-of-type(1),
body .initialContent > blockquote:nth-of-type(1),
body .initialContent > blockquote:nth-of-type(1) > p:nth-of-type(1) {
	margin-top: 0 !important;
}

h3,
h4,
h5,
h6 {
	font-size: 1em;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	font-weight: 400;
}

h3 {
	text-decoration: underline;
}

pre {
	white-space: pre-line;
}

code {
	color: #000 !important;
	font-size: 100%;
	font-variant: small-caps;
	font-family: inherit;
	background: 0 0 !important;
}

ol,
ul {
	padding-left: 1.5em;
}
li {
	overflow: visible !important;
}

p {
	margin-top: 0.5em;
}

img {
	max-width: 100%;
}

.admonition {
	border: 2px solid black;
	border-radius: 5px;
	padding: 0.5em 1em;
	background-color: #eee;
	margin-bottom: 1em;
}

.admonition.info {
	border-color: #1505a1;
	background-color: #f6f7ff;
}
.admonition.tip,
.admonition.success {
	border-color: #02461f;
	background-color: #f7fff6;
}
.admonition.warning,
.admonition.danger {
	border-color: #b94a48;
	background-color: #fff6f6;
}

.admonitionContent {
	font-size: 0.95em;
}

.admonitionTitle {
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.info .admonitionTitle {
	color: #0b0258;
}
.tip .admonitionTitle {
	color: #012e14;
}
.warning .admonitionTitle {
	color: #470302;
}

.admonition-title:not(:empty) {
	margin-top: 0em !important;
}

.admonition-title:empty + p {
	margin-top: -0.5em;
}

mark {
	background-color: #f9e387;
}

blockquote {
	font-family: "ETBembo", "et-book", "Minion Pro", Garamond, Philosopher,
		"Times New Roman", Times, serif !important;
	margin: 0 !important;
}

br {
	display: block !important;
	margin-top: 0.25em !important;
	content: "" !important;
}

table {
	font-family: sans-serif;
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	table-layout: fixed;
}

body .initialContent > table:nth-of-type(1) {
	margin-top: 0em;
}

td,
th {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 10px;
	text-align: center;
}

th {
	background-color: rgb(235, 235, 235);
}

tr:nth-child(even) td {
	background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
	background-color: rgb(245, 245, 245);
}

caption {
	padding: 10px;
}

@media print {
	@page {
		size: A4;
		padding: 0 !important;
		margin: 0 !important;
		/* margin: auto; */
	}

	body {
		margin: auto;
	}
}
